@import '@aws-amplify/ui-react/styles.css';
@import '~antd/dist/antd.css';
/* @import '~antd/dist/antd.dark.css'; */

body {
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans Mono', monospace;
}

*[class^='ant-'] {
  font-family: 'Noto Sans Display', sans-serif;
}
